<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <title> Show Lead
    </title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <body>
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="/" class="btn btn-primary" id="signout">Sign Out</a>
                <a href="/leads" class="btn btn-primary" id="leads">Leads</a>
                <a href="/pushConfigs" class="btn btn-primary" id="pushConfig">Push Configurations</a>
            </div>
        </div>
</head>
<div class="page-header">
    <h3 class="text-center">
       Aerodoc 
      </h3>
</div>
<div class="container" id="container" align="middle">
    <div class="panel panel-primary" style="width: 80%" align="middle">
        <div class="panel-heading">
            <h3 class="panel-title">
          </h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{lead.name}}
                        </td>
                        <td>
                            {{lead.location}}
                        </td>
                        <td>
                            {{lead.phoneNumber}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-primary" style="width: 80%" align="middle">
        <div class="panel-heading">
            <h3 class="panel-title">
            Search Agents
          </h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                    <form action="/searchagents" method="GET">
                        <tr>
                            <td>
                                <input type="text" class="form-control" type="text" name="status" placeholder="Status">
                            </td>
                            <td>
                                <input type="text" class="form-control" type="text" name="location" placeholder="Location">
                            </td>
                            <td>
                                <button type="submit" class="btn pull-right btn-primary">
                                    Search
                                </button>
                            </td>
                       <input type="hidden" class="form-control" type="text" name="leadId" value="{{lead._id}}">

                        </tr>
                    </form>
                </tbody>
            </table>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each salesAgents}}
                    <tr>
                        <td> {{name}}</td>
                        <td> {{status}} </td>
                        <td> {{location}} </td>
                        <td>
                        <input class="form-control" type="checkbox" name="active">
                    </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <form action="/sendPush" method="POST">
                <button type="submit" class="btn  btn-success">             
                Send Push
                </button>
            </form>
        </div>
    </div>
</div>
</body>

</html>
